  <!-- Barra de navegación para móviles -->
  <div class="md:hidden fixed bottom-0 w-full bg-brown-800 text-white flex justify-around py-4 z-10">
    <a routerLink="/humedad" class="flex flex-col items-center space-y-1">
      <img src="assets/humedad.png" class="w-6 h-6" alt="Humedad" />
    </a>
    <a routerLink="/luz" class="flex flex-col items-center space-y-1">
      <img src="assets/luz.png" class="w-6 h-6" alt="Luz" />
    </a>
    <a routerLink="/temperatura" class="flex flex-col items-center space-y-1">
      <img src="assets/temperatura.png" class="w-6 h-6" alt="Temperatura" />
    </a>
    <a routerLink="/reporte" class="flex flex-col items-center space-y-1">
      <img src="assets/reporte.png" class="w-6 h-6" alt="Reporte" />
    </a>
    <a routerLink="/salir" class="flex flex-col items-center space-y-1">
      <img src="assets/salir.png" class="w-6 h-6" alt="Salir" />
    </a>
  </div>
