<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios - C.A.F</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#E5DCD3] flex h-screen m-0">
    <!-- Sidebar -->
    <app-sidebar class="fixed left-0 top-0 h-full"></app-sidebar>

    <!-- Contenedor Principal -->
    <div class="flex-1 flex flex-col min-h-screen ml-48">  <!-- ml-48 para el espacio del sidebar -->
        <!-- Navegación Superior modificada -->
        <nav class="bg-[#351F0A] py-4 px-6 flex items-center justify-between">
            <img src="assets/logo2.png" alt="Logo" class="h-12">
            <h1 class="text-white text-2xl font-bold text-center flex-1">HUMEDAD</h1>
        </nav>

        <!-- Contenido Principal -->

    </div>
</body>
</html>