<!-- sidebar.component.html -->
<div>
    <!-- Sidebar para escritorio -->
    <nav class="hidden md:flex flex-col w-48 bg-brown-800 text-white p-4 fixed h-full">
      <a routerLink="/humedad" class="flex items-center space-x-2 py-2">
        <img src="assets/humedad.png" class="w-6 h-6" alt="Sensor Humedad" />
        <span>sensor humedad</span>
      </a>
      <a routerLink="/luz" class="flex items-center space-x-2 py-2">
        <img src="assets/luz.png" class="w-6 h-6" alt="Sensor Luz" />
        <span>sensor luz</span>
      </a>
      <a routerLink="/temperatura" class="flex items-center space-x-2 py-2">
        <img src="assets/temperatura.png" class="w-6 h-6" alt="Sensor Temperatura" />
        <span>sensor temp</span>
      </a>
      <a routerLink="/reporte" class="flex items-center space-x-2 py-2">
        <img src="assets/reporte.png" class="w-6 h-6" alt="Reporte" />
        <span>reporte</span>
      </a>
      <a routerLink="/salir" class="flex items-center space-x-2 py-2">
        <img src="assets/salir.png" class="w-6 h-6" alt="Salir" />
        <span>salir</span>
      </a>
    </nav>