<!-- sidebar.component.html -->
<div class="flex">
    <!-- Sidebar para escritorio -->
    <nav class="hidden md:flex flex-col w-48 bg-[#4C270A] text-white p-4 fixed h-full">
      
      <div class="flex flex-col flex-grow justify-evenly">  <!-- NUEVO -->
        <a routerLink="/humedad" class="flex items-center space-x-3 py-3 bg-[#4C270A] rounded-lg px-3">
            <img src="assets/usuarios.png" class="w-8 h-8" alt="Sensor Humedad" />
            <span class="text-lg">Usuarios</span>
          </a>
          <a routerLink="/luz" class="flex items-center space-x-3 py-3 bg-[#4C270A] rounded-lg px-3">
            <img src="assets/card.png" class="w-8 h-8" alt="Sensor Luz" />
            <span class="text-lg">Membresias</span>
          </a>
          <a routerLink="/salir" class="flex items-center space-x-3 py-3 bg-[#4C270A] rounded-lg px-3">
            <img src="assets/salir.png" class="w-8 h-8" alt="Sensor Luz" />
            <span class="text-lg">salir</span>
          </a>
      </div>  <!-- CIERRE DEL NUEVO DIV -->
      
    </nav>
  
    <!-- Contenido principal que se desplaza a la derecha -->
    <div class="ml-48 w-full p-4">
      <ng-content></ng-content>
    </div>
</div>
